<footer>
<div style="flex: 1;">
  <p>Sponsored by:</p>
  <img style="width: 160px;" src="/pics/fluke.png" alt="Fluke">
</div>

<div class="links">
	<ul>
		<li><a href="https://www.facebook.com/101016671658271" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="https://twitter.com/AllMetrology" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="mailto:metrologyforall@gmail.com" title="Email"><i class="fa fa-envelope"></i></a></li>
	</ul>
</div>

<div style="flex: 1;"></div>
</footer>
