	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel='stylesheet' type='text/css' href='/style.css'>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
	</head>
	
	<body>
	<nav>
			<img id=logo src="/pics/metro-fora.png" title="Metrology For all logo">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/women_in_metrology.html">Women in Metrology</a></li>
			<li><a href="/events.html">Events</a></li>
			<li><a href="/publications.html">Publications</a></li>
			<li><a href="/volunteer.html">Volunteer Network</a></li>
			<li><a href="/videos.html">Videos</a></li>
		</ul>
	</nav>
